.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.clearfix {
  *zoom: 1; /* Für den IE6 und IE7 */
}

body {
  background: #222;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div, input, button, form {
  box-sizing: border-box;
}

.header {

  .frame {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 350px;
    background: #43389F;
    background: -webkit-linear-gradient(bottom left, #43389F 0%, #4ec6ca 100%);
    background: -moz-linear-gradient(bottom left, #43389F 0%, #4ec6ca 100%);
    background: -o-linear-gradient(bottom left, #43389F 0%, #4ec6ca 100%);
    background: linear-gradient(to top right, #43389F 0%, #4ec6ca 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43389F', endColorstr='#4ec6ca',GradientType=1 );
    color: #fff;
  }

  .center {
    position: absolute;
    top: 50.8%;
    left: 50.5%;
    transform: translate(-50%,-50%);
  }

  .number {
    position: relative;
    height: 100px;
    width: 200px;

    .one-one {
      position: absolute;
      z-index: 1;
      top: 0;
      left: -16px;
      height: 40px;
      width: 20px;
      background: #fff;
      border-radius: 3px;
      transform: rotate(50deg);
      box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
    }

    .one-two {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0px;
      height: 100px;
      width: 24px;
      background: #fff;
      border-radius: 3px;
      box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
    }

    .zero-one,
    .zero-two {
      position: absolute;
      z-index: 8;
      top: 0;
      left: 17px;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      border: 24px solid #fff;
      box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
    }

    .zero-two {
      z-index: 6;
      left: 100px;
    }
  }

  .big {
    position: relative;
    z-index: 20;
    display: block;
    text-align: center;
    font-size: 81px;
    line-height: 65px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: -8px;
  }

  .small {
    position: relative;
    z-index: 20;
    display: block;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 300;
    margin-left: -4px;
  }

  .line-left,
  .line-right {
    position: absolute;
    top: 50%;
    margin-top: -4px;
    left: -290px;
    height: 9px;
    width: 250px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
  }

  .line-right {
    left: initial;
    right: -280px;
  }
}

.message {
  padding: 50px 15px;
  text-align: center;

  h1 {
    color: #eee;
    font-weight: 700;
    font-size: 30px;
  }
  p {
    color: #eee;
    margin: 40px auto;
  }
  a {
    display: block;
    width: 240px;
    height: 46px;
    padding: 0;
    margin: 0 auto;
    background: #4B9CBD;
    border-radius: 23px;
    font-size: 16px;
    color: #fff;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0);
    transition: all .3s ease-in-out;
    text-decoration: none;
    line-height: 44px;

    &:hover {
      background: #4657A9;
      box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
    }
  }
}

.social {
  padding: 30px 0;

  .title {
    color: #bebebe;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    margin: 30px 0;
  }

  .subscribe-form {
    text-align: center;
    font-size: 0;
    position: relative;

    .input {
      width: 320px;
      height: 46px;
      padding: 13px 0 13px 20px;
      border: none;
      background: #fff;
      border-radius: 23px 0 0 23px;
      font-size: 16px;
      line-height: 20px;
      color: #383838;
      box-shadow: 0 0 6px 3px rgba(#4B9CBD,0);
      transition: all .3s ease-in-out;
      -webkit-appearance: none;

      &:focus {
        outline: none;
        box-shadow: 0 0 6px 3px rgba(#4B9CBD,1);
      }
    }

    .submit {
      width: 130px;
      height: 46px;
      padding: 0;
      border: none;
      background: #4B9CBD;
      border-radius: 0 23px 23px 0;
      font-size: 16px;
      color: #fff;
      box-shadow: 0 0 15px 0 rgba(0,0,0,0);
      transition: all .3s ease-in-out;
      -webkit-appearence: none;

      &:hover {
        background: #4657A9;
        box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
      }
    }

    .result {
      display: none;
      position: absolute;
      left: 50%;
      top: 0;
      z-index: 10;
      margin-left: -225px;
      height: 46px;
      width: 450px;
      border: 1px solid #fff;
      background: #222;
      color: #fff;
      border-radius: 23px;
      font-size: 16px;
      line-height: 42px;
      text-align: center;
      padding: 0 20px;

      img {
        position: relative;
        top: 2px;
        height: 17px;
        width: auto;
        margin-right: 10px;
      }
    }

    &.red {
      animation: shake 1s ease-out;

      .input {
        box-shadow: 0 0 6px 3px rgba(#FF1414,0.9);
      }
    }

  }

  .follow {
    text-align: center;
    padding: 30px 0;
    font-size: 0;

    a {
      margin: 0 7px;
      opacity: 0.6;
      transition: all .3s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.pens {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;

  .pen {
    width: 480px;
    margin: 10px 10px;
    float: left;

    @media (max-width: 1000px) {
      margin: 20px auto;
      float: none;
    }
  }

  .title {
    position: relative;
    display: block;
    width: 80px;
    height: 45px;
    margin: 0 auto -5px auto;
    border-radius: 40px 40px 0 0;
    background: #fff;
    color: #383838;
    line-height: 42px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    transition: all .3s ease-in-out;

    &:hover {
      color: #4B9CBD;
      transform: translate3d(0, -5px, 0);
    }
  }

  .content {
    position: relative;
    z-index: 2;
    width: 480px;
    height: 500px;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    overflow: hidden;

    p.codepen {
      margin-top: 180px;
      padding: 20px;
      font-size: 20px;
      text-align: center;
      color: #bebebe;

      a {
        color: #bebebe;
      }
    }
  }
}

.footer {
  margin: 40px 0;
  text-align: center;

  .claim {
    color: #eee;
    margin-bottom: 30px;
    display: inline-block;
    padding-bottom: 30px;
    border-bottom: 1px dashed #eee;

    .small {
      display: block;
      font-size: 16px;
      letter-spacing: 1px;
      font-weight: 300;
      text-transform: uppercase;
    }

    .big {
      display: inline-block;
      font-size: 18px;
      font-weight: 700;
      color: #eee;
      text-decoration: none;
      text-transform: uppercase;
      transition: all .2s ease-in-out;

      &:hover {
        color: #4B9CBD;
      }
    }
  }

  a.impress-link {
    font-size: 13px;
    text-decoration: none;
    color: #bebebe;
    display: block;
  }
}

.impress {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  background: #fff;
  color: #555;
  font-weight: 300;

  a {
    color: #555;
    text-decoration: none;
    font-weight: 400;
  }
}

/* Animations */
@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
